@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Lobster&family=Mynerve&display=swap');

.container {
    margin-top: 10rem;
    max-width: fit-content;
}

button {
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 3.5rem;
    font-family: 'Comfortaa', cursive;
}

h2 {
    margin-bottom: 0.75rem;
    margin-left: 2.5rem;
    font-family: 'Comfortaa', cursive;
}

label {
    font-family: 'Comfortaa', cursive;
    margin-top: 1rem;
}

/* Adicionando regras de responsividade */
@media (max-width: 768px) {
    .container {
        margin-top: 3rem;
        max-width: 90%;
    }

    button {
        margin-top: 1.5rem;
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        margin-left: auto;
        margin-right: auto;
    }
}
img{
    margin-left:3rem;
    margin-bottom: 0.75rem;
}