<div class="container">
<div>
    <img src="https://cdn1.iconfinder.com/data/icons/user-110/24/key_login_user_people_smart_key_profile_permissions_security_authorization-256.png" width="100px" height="100px">
    <h2>Login</h2>
    <div>
        <label for="email">E-mail:</label>
        <input type="email" class="form-control form-control-sm" id="email" [(ngModel)]="email" placeholder="e-mail">
    </div>
    <div>
        <label for="senha">Senha:</label>
        <input type="password"class="form-control form-control-sm"  id="senha" [(ngModel)]="senha" placeholder="senha">
    </div>
    <button class="btn btn-secondary btn-sm" (click)="login()">Entrar</button>
    <p *ngIf="mensagem" class="error-message">{{ mensagem }}</p>
</div>
</div>