<html>
<head>
    <!-- Seus metadados e links de importação de estilos aqui -->
</head>
<body>
    

    <footer class="bg-dark text-light">
        <div class="container-fluid py-3">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <ul class="nav flex-column">
                        <li class="nav-link"><a routerLink="">Home</a></li>
                        <li class="nav-link"><a routerLink="login">Login</a></li>
                        <li class="nav-link"><a href="#topo">Voltar ao Topo</a></li>
                    </ul>
                </div>
                <div class="col-md-4 d-md-flex align-items-md-center justify-content-center mb-3">
                    <div class="text-center">
                        <small>Avaliação</small>
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-plain-wordmark.svg" width="150px" height="150px"/>
                       
                        <p>
                           <small>Feito por: Marina Gomes e Gabriel Bernardo</small>
                        </p>
            
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center" style="background-color: #333; padding: 20px;">
           
            &copy; 2023 Copyright: <a href="#">Senac Nova Iguaçu</a>
        </div>
    </footer>

</body>
</html>
