<app-navbar></app-navbar>
<div class="container">
<table class="table" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Preço</th>
            <th id="acao">Ações</th>
           
            
        </tr>
    </thead>

    <tbody *ngFor="let produto of produtos">
        <tr>
            <th scope="row">{{produto.id}}</th>
            <td>{{produto.nome_produto}}</td>
            <td>{{produto.preco}}</td>
            <td><button class="btn btn-secondary btn-sm" [routerLink]="['/atualizar', produto?.id]">Atualizar</button>
            <button class="btn btn-secondary btn-sm" (click)="deletar (produto.id)">Excluir</button></td>
        </tr>

    </tbody>

</table>
<button class="btn btn-secondary btn-sm" [routerLink]="['novo']">Add produto</button>

<button class="btn btn-secondary btn-sm" (click)="logout()">Sair</button>

</div>